{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'enquetes/css/style.css' %}"/>

<html>

    <head>
        <title>Enquetes App</title>
        </head>

    <body>
        <h1>Aplicação de Enquetes - Dsweb 2023.2</h1>

        <img width= "100" src ="{% static 'enquetes/img/enquetes.jpg' %}">

        {% if lista_perguntas %}
            <ul>

                {% for pergunta in lista_perguntas %}
                    <li><a href = "{% url 'enquetes:detalhes' pergunta.id %}">
                        {{ pergunta.texto}}
                    </a></li>

                {% endfor %}
            </ul>

        {% else %}
            <h3>Nenhuma enquete cadastrada até o momento!</h3>
        {% endif %}

    </body>


</html>