{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
    <link rel="stylesheet" href="{% static 'acervo/css/base.css' %}">
    {% endblock styles %}
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js" defer></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js" defer></script>
    <title>Acervo pessoal</title>
</head>

<body>
    <div class="navigation">
        <ul>
            {% block dashboard_menu %}
            <li class="list">
                <b></b>
                <b></b>
                <a href="{% url 'dashboard' %}">
                    <span class="icon">
                        <ion-icon name="person-outline"></ion-icon>
                    </span>
                    <span class="tittle">Perfil</span>
                </a>
            </li>
            {% endblock dashboard_menu %}

            {% block books_menu %}
            <li class="list">
                <b></b>
                <b></b>
                <a href="{% url 'books' %}">
                    <span class="icon">
                        <ion-icon name="book-outline"></ion-icon>
                    </span>
                    <span class="tittle">Livros</span>
                </a>
            </li>
            {% endblock books_menu %}

            {% block itens_menu %}
            <li class="list">
                <b></b>
                <b></b>
                <a href="{% url 'itens' %}">
                    <span class="icon">
                        <ion-icon name="albums-outline"></ion-icon>
                    </span>
                    <span class="tittle">Itens</span>
                </a>
            </li>
            {% endblock itens_menu %}

            {% block contacts_menu %}
            <li class="list">
                <b></b>
                <b></b>
                <a href="{% url 'contacts' %}">
                    <span class="icon">
                        <ion-icon name="people-outline"></ion-icon>
                    </span>
                    <span class="tittle">Contatos</span>
                </a>
            </li>
            {% endblock contacts_menu %}

            {% block lendings_menu %}
            <li class="list">
                <b></b>
                <b></b>
                <a href="{% url 'lendings' %}">
                    <span class="icon">
                        <ion-icon name="folder-outline"></ion-icon>
                    </span>
                    <span class="tittle">Empréstimos</span>
                </a>
            </li>
            {% endblock lendings_menu %}

            {% block sign_out_menu %}
            <li class="list">
                <b></b>
                <b></b>
                <a href="{% url 'logout' %}">
                    <span class="icon">
                        <ion-icon name="log-out-outline"></ion-icon>
                    </span>
                    <span class="tittle">Sair</span>
                </a>
            </li>
            {% endblock sign_out_menu %}
        </ul>
    </div>

    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>

</body>
</html>