<!DOCTYPE html>
    {% load static %}

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'acervo/css/index.css' %}">

    <title>Acervo Pessoal</title>
</head>
<body>
    <h1 class = "title">Seu Acervo Online </h1

    <p class="text">
        Este é um banco de dados pessoal online, perfeito para você armazenar seus livros e objetos favoritos. <br>
        Além disso, é possível criar uma lista de contatos para emprestar seus itens e livros. <br>
        E o melhor de tudo: tudo isso é de graça! Crie sua conta agora mesmo.

    </p>
<br>

        <div><img width= "100" src ="{% static 'acervo/img/fundo.jpg' %}">

</body>
</html>