<!DOCTYPE html>
    {% load static %}

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'acervo/css/index.css' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <title>Acervo Pessoal</title>
</head>
            <body>

                <div class="links">
                <a href="{% url 'login' %}">Acesse sua conta</a>
                <a href="{% url 'acervo:register' %}">Cadastrar-se</a>

            </div>

                <div>
                <h1 class = "title">Caca Collection </h1>



                <p class="text">
                 Este é um banco de dados pessoal online, perfeito para você armazenar seus livros e objetos favoritos. <br>
                 Além disso, é possível criar uma lista de contatos para emprestar seus itens e livros. <br>
                 E o melhor de tudo: tudo isso é de graça! Crie sua conta agora mesmo.

                </p>
                <br>
                </div>
               <div><img width= "300" src ="{% static 'acervo/img/strawberry-desktop.jpg' %}">


            </body>
</html>